.Camera {
  margin: auto;
  flex-direction: column;
  text-align: center;
  display: flex;
}

.Camera Button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  max-width: 330px;
  width: 330px;
  align-self: center;
}